numpy<2.0.0

Jinja2~=3.1.4
torch~=2.4.0
packaging~=24.1
setuptools~=75.3.0
vllm~=0.6.3.post1
huggingface-hub~=0.23.2
transformers~=4.46.1
safetensors~=0.4.5
msgspec~=0.18.6
py-cpuinfo~=9.0.0
psutil~=6.1.0
requests~=2.32.3
pillow~=10.4.0
prometheus_client~=0.21.0
ray~=2.38.0
typing_extensions~=4.12.2
cloudpickle~=3.1.0
pyzmq~=26.2.0
PyYAML~=6.0.2
uvloop~=0.21.0
openai~=1.53.0
tqdm~=4.66.6
pydantic~=2.9.2
aiohttp~=3.10.10
fastapi~=0.115.4
starlette~=0.41.2
uvicorn~=0.32.0
gguf~=0.10.0
torchvision~=0.19.0
mistral_common~=1.4.4
einops~=0.8.0
filelock~=3.16.1
lark~=1.2.2
outlines~=0.0.46
modal~=0.65.19
pandas~=2.2.3
click~=8.1.7