transformers >= 4.45.0  # Required for Llama 3.2.
peft
psutil
typing_extensions >= 4.10
msgspec
pydantic >= 2.9  # Required for fastapi >= 0.113.0
gguf == 0.10.0
sentencepiece  # Required for LLaMA tokenizer.
mistral_common[opencv] >= 1.4.4
py-cpuinfo
aiohttp
openai >= 1.40.0 # Ensure modern openai package (ensure types module present)
uvicorn[standard]
fastapi >= 0.107.0, != 0.113.*, != 0.114.0; python_version >= '3.9'
fastapi-utils
typing-inspect
pyzmq
cloudpickle
partial-json-parser # used for parsing partial JSON outputs
prometheus_client >= 0.18.0
prometheus-fastapi-instrumentator >= 7.0.0
outlines >= 0.0.43, < 0.1
einops # Required for Qwen2-VL.
protobuf
nvidia-ml-py # for pynvml package
xformers == 0.0.27.post2; platform_system == 'Linux' and platform_machine == 'x86_64'  # Requires PyTorch 2.4.0
persist-queue
